<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trail</title>
</head>
<body>
    <form action="/trails" method="post">
        <label for="TrailName">Title</label>
        <input id="TrailName" type="text" name="newTrailName">
        <label for="TrailLocation">Location</label>
        <input id="TrailLocation" type="text" name="newTrailLocation">
        <button type="submit">Add Trail</button>
    </form>
</body>
</html>