<% layout('partials/boilerplate', {authenticated:authenticated}) -%>


<div class="profile-container">
    <div class="left-profile-container">
        <div class="user-info-container">
            <% let profilePhoto = userProfile && userProfile.photos && userProfile.photos.length > 0 ? userProfile.photos[0].value : "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"; %>
            <div class="profile-image-container"><img src="<%= profilePhoto %>" alt="" class="profile-image"></div>
            <div class="username-container">
            <% let displayName = userProfile && userProfile.displayName ? userProfile.displayName : "Test User"; %>
                <p><%= displayName %></p>
            </div>
            <div class="join-date">
                <p>Member Since June 2023</p>
            </div>
            <div class="follow-wrapper">
                <div class="follower-container">
                    <div class="follower-count">0</div>
                    <div class="follower-text">Followers</div>
                </div>
                <div class="following-container">
                    <div class="following-count">0</div>
                    <div class="following-text">Following</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-profile-container">
       
        <div class="navigation-container">
            <ul class="nav nav-underline nav-container">
                <li class="nav-item">
                  <button class="nav-link active nav-tab" id="tab-photos" data-target="#section-photos">Photos</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link nav-tab" id="tab-trails" data-target="#section-trails">Trails</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link nav-tab" id="tab-reviews" data-target="#section-reviews">Reviews</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link nav-tab" id="tab-activities" data-target="#section-activities">Activities</button>
                </li>
              </ul>
              
              <div class="tab-content">
                <div class="tab-pane fade show active" id="section-photos">
                    <div class="right-profile-content-container">
                        <div class="photos-container">
                            <div class="photo-placeholder">
                                <svg class="_4Sx1P+6YoNycTCuNmsSl2Q==" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" role="presentation" aria-hidden="true" focusable="false" data-testid="dandelion" style="height: 150px; width: 150px; fill: rgb(43, 56, 31);"><path d="M124.182 33.51c-34.87-8.952-64.22 24.653-73.69 37.094l9.681-30.673 1.228 9.917 1.007-.05-1.203-11.474 6.534 6.019.718-.708-6.426-6.166 8.687 2.356.555-1.002-8.704-2.4 8.026-1.936-.17-.864-8.006 1.75 5.61-5.475-.709-.548-5.365 5.072 2.298-7.134-.708-.352-2.485 6.913-.956-7.622-.735-.207.787 7.91-4.693-6.302-.666.604 4.63 6.41-9.181-4.19-.508.612 9.292 4.83-10.282 1.085-.129.884 10.371-.465-8.048 5.697.483.536 7.885-4.65-11.737 33.274-8.397-25.28 5.578 3.874.575-.713-6.066-4.383 5.681-.556-.044-.915-5.559.43 4.704-3.066-.333-.956-4.788 3.091 2.436-4.536-.712-.424-2.54 4.495-.21-4.932-.829.153.122 4.548-2.328-3.99-.715.285 2.146 3.979-3.852-2.666-.65.416 4.06 2.969-4.903-.442.004.845 4.883.51-5.815 2.554.114.768 6.284-2.386-3.847 5.343.538.645 4.207-5.153-.718 6.257.718-.003 1.072-5.362 7.47 24.859-24.932-22.352 9.468 2.123.208-.686L19.51 48.89l-.176-.158 7.932-4.17-.302-.652-8.342 4.171 5.404-7.777-.555-.633-5.409 7.713.93-8.648-.58-.087-1.103 8.5L13.91 39.7l-.506.324 3.14 7.178-6.287-4.844-.359.346 6.007 4.959-7.99-1.778-.263.368 8.006 2.002-7.858 2.408.231.56 7.992-2.321-7.338 7.56.254.43 7.897-7.343-2.533 10.425.531.283 3.11-10.106.11.099 2.667 9.594.403-.166-1.53-8.034 24.123 21.811-31.757-6.323 9.115-6.083-.353-.626-9.9 6.344 2.516-8.788-.679-.232-2.752 8.923-1.879-9.284-.84-.035 1.83 9.245-5.6-6.649-.465.361 5.375 6.67-7.724-2.686-.116.59 7.35 2.685L0 68.772v.499l7.73-.922-6.805 4.557.087.445 6.976-4.416-3.69 7.354.563.22 3.846-7.39.387 10.537.487.113.155-10.791 5.775 9.037.572-.19-5.218-9.36 8.986 4.814.158-.407-6.472-4.196 29.5 7.015-29.02 10.433 5.932-8.577-.557-.451-6.872 9.549-.893-9.098-.716.035.723 9.31-5.16-7.937-.795.278 5.103 7.92-7.65-4.12-.3.507 7.45 4.218-8.168.353.11.589 7.82-.215L3.2 92.497l.185.464 6.846-3.71L5.581 96l.245.382 4.862-6.678-.727 8.198h.605l.857-8.29 4.236 9.653.493-.073L12.33 89.1l8.694 6.271.462-.386-8.293-6.779 10.124 1.16v-.436l-8.8-1.76 29.5-10.075L31.27 91.322l.878-4.14-.892-.261-1.176 5.065-1.85-3.435-.837.4 1.662 3.244-3.005-2.046-.751.676 3.105 2.135-3.307-.32-.12.858 3.371.4-2.94 1.385.482.736 2.619-1.184-1.759 2.342.577.589 1.79-2.226-.6 2.853.694.481.774-3.259.977 3.075.809-.345-.914-3.029 3.031 2.887.71-.43-3.15-3.325 4.295.997.402-.777-4.322-1.283 4.068-1.182-.306-.72-4.089.827 13.697-14.134-11.345 32.767-1.655-10.64-.714.058 1.59 11.663-6.909-5.977-.495.52 6.93 6.248-9.204-2.19-.385.75 9.146 2.218-8.379 2.298.131.574 8.302-2.085-5.677 5.893.486.353 5.52-5.554-2.2 7.632.453.208 2.41-7.413 1.272 8.097.441.108-1.071-8.194 5.114 6.442.436-.42-5.083-6.599 9.71 4.072.308-.395-9.714-4.671 10.615-1.456.069-.599-10.674.81 8.135-6.147-.301-.314-8.282 5.236 12.312-32.45 2.91 20.803-3.087-4.417-.597.355 3.56 5.309-4.73-1.244-.21.663 4.643 1.325-4.747 1.076-.015.777 4.8-1.066-3.345 2.958.392.483 3.404-2.88-1.306 4.061.624.108 1.272-3.754.699 3.965.573-.014-.555-3.902 2.352 3.357.555-.121-2.396-3.616 3.849 1.83.216-.597-3.822-1.887 5.476-.326.118-.565-5.762.047 4.696-3.165-.21-.596-4.92 2.897 2.442-4.828-.5-.183-2.432 3.957-2.725-21.89 25.687 34.892-10.918-1.987-.18.695 11.523 2.319-7.902 4.575.328.639 8.165-4.509-5.083 7.991.581.61L75 115.237l-.578 8.679.584.064.755-8.54 3.698 7.304.492-.345-3.43-7.043 6.478 4.583.346-.36-6.204-4.711 8.056 1.45.248-.381-8.077-1.667 7.754-2.724-.254-.55-7.89 2.645L84 105.788l-.27-.42-7.593 7.656 2.111-10.52-.542-.261-2.734 10.365-3.132-9.713-.395.183 1.978 8.495-24.745-35.029 22.954 6.789-10.032 1.71.11 1.151 11.273-1.706-5.627 6.715.845.785 5.72-6.548-1.906 8.573 1.16.577 1.958-8.63 2.234 7.736.995-.243-2.058-7.756 5.586 5.248.6-.854-5.14-4.982 7.003 1.914.38-.857-6.795-2.108 7.305-1.259.208-.9-7.699 1.122 5.932-4.863-.735-.744-6.017 4.785 3.675-9.164-.75-.57-4.328 9.38-1.52-10.051-1.035-.104.918 10.194-5.943-7.662-.615.608 4.866 7.482-22.344-7.232L88.75 59.547l-5.91 9.028.568.438 6.625-9.723 1.126 9.071.714-.053-.96-9.289 5.365 7.804.788-.295-5.304-7.785 7.755 3.917.286-.516-7.556-4.024 8.158-.563-.124-.59-7.814.418 6.74-4.188-.196-.459-6.75 3.885 4.475-6.865-.254-.376-4.689 6.8.515-8.214-.606.02-.644 8.31-4.483-9.542-.492.087 4.081 9.988-8.85-6.046-.452.399 8.464 6.563-10.151-.9.013.437 9.58 1.661L49.674 73.19l.2-.636c8.978-11.58 41.352-48.555 73.328-37.133 45.965 16.416 2.52 84.713 2.52 84.713l18.13.073s22.892-75.771-19.67-86.697Z"></path></svg>
                                
                            </div>
                            <div class="photo-text-placeholder">
                                <h2> Add some photos</h2>
                                <p>Log trail photos within reviews or below.</p>
                            </div>
                            <div class="photodropzone">
                                <form action="/upload-photo" class="dropzone" id="myDropzone"></form>
            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section-trails">
                    <div class="right-profile-content-container">
                        <div class="photos-container">
                            <div class="photo-placeholder">
                                <svg class="_4Sx1P+6YoNycTCuNmsSl2Q==" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" role="presentation" aria-hidden="true" focusable="false" data-testid="dandelion" style="height: 150px; width: 150px; fill: rgb(43, 56, 31);"><path d="M124.182 33.51c-34.87-8.952-64.22 24.653-73.69 37.094l9.681-30.673 1.228 9.917 1.007-.05-1.203-11.474 6.534 6.019.718-.708-6.426-6.166 8.687 2.356.555-1.002-8.704-2.4 8.026-1.936-.17-.864-8.006 1.75 5.61-5.475-.709-.548-5.365 5.072 2.298-7.134-.708-.352-2.485 6.913-.956-7.622-.735-.207.787 7.91-4.693-6.302-.666.604 4.63 6.41-9.181-4.19-.508.612 9.292 4.83-10.282 1.085-.129.884 10.371-.465-8.048 5.697.483.536 7.885-4.65-11.737 33.274-8.397-25.28 5.578 3.874.575-.713-6.066-4.383 5.681-.556-.044-.915-5.559.43 4.704-3.066-.333-.956-4.788 3.091 2.436-4.536-.712-.424-2.54 4.495-.21-4.932-.829.153.122 4.548-2.328-3.99-.715.285 2.146 3.979-3.852-2.666-.65.416 4.06 2.969-4.903-.442.004.845 4.883.51-5.815 2.554.114.768 6.284-2.386-3.847 5.343.538.645 4.207-5.153-.718 6.257.718-.003 1.072-5.362 7.47 24.859-24.932-22.352 9.468 2.123.208-.686L19.51 48.89l-.176-.158 7.932-4.17-.302-.652-8.342 4.171 5.404-7.777-.555-.633-5.409 7.713.93-8.648-.58-.087-1.103 8.5L13.91 39.7l-.506.324 3.14 7.178-6.287-4.844-.359.346 6.007 4.959-7.99-1.778-.263.368 8.006 2.002-7.858 2.408.231.56 7.992-2.321-7.338 7.56.254.43 7.897-7.343-2.533 10.425.531.283 3.11-10.106.11.099 2.667 9.594.403-.166-1.53-8.034 24.123 21.811-31.757-6.323 9.115-6.083-.353-.626-9.9 6.344 2.516-8.788-.679-.232-2.752 8.923-1.879-9.284-.84-.035 1.83 9.245-5.6-6.649-.465.361 5.375 6.67-7.724-2.686-.116.59 7.35 2.685L0 68.772v.499l7.73-.922-6.805 4.557.087.445 6.976-4.416-3.69 7.354.563.22 3.846-7.39.387 10.537.487.113.155-10.791 5.775 9.037.572-.19-5.218-9.36 8.986 4.814.158-.407-6.472-4.196 29.5 7.015-29.02 10.433 5.932-8.577-.557-.451-6.872 9.549-.893-9.098-.716.035.723 9.31-5.16-7.937-.795.278 5.103 7.92-7.65-4.12-.3.507 7.45 4.218-8.168.353.11.589 7.82-.215L3.2 92.497l.185.464 6.846-3.71L5.581 96l.245.382 4.862-6.678-.727 8.198h.605l.857-8.29 4.236 9.653.493-.073L12.33 89.1l8.694 6.271.462-.386-8.293-6.779 10.124 1.16v-.436l-8.8-1.76 29.5-10.075L31.27 91.322l.878-4.14-.892-.261-1.176 5.065-1.85-3.435-.837.4 1.662 3.244-3.005-2.046-.751.676 3.105 2.135-3.307-.32-.12.858 3.371.4-2.94 1.385.482.736 2.619-1.184-1.759 2.342.577.589 1.79-2.226-.6 2.853.694.481.774-3.259.977 3.075.809-.345-.914-3.029 3.031 2.887.71-.43-3.15-3.325 4.295.997.402-.777-4.322-1.283 4.068-1.182-.306-.72-4.089.827 13.697-14.134-11.345 32.767-1.655-10.64-.714.058 1.59 11.663-6.909-5.977-.495.52 6.93 6.248-9.204-2.19-.385.75 9.146 2.218-8.379 2.298.131.574 8.302-2.085-5.677 5.893.486.353 5.52-5.554-2.2 7.632.453.208 2.41-7.413 1.272 8.097.441.108-1.071-8.194 5.114 6.442.436-.42-5.083-6.599 9.71 4.072.308-.395-9.714-4.671 10.615-1.456.069-.599-10.674.81 8.135-6.147-.301-.314-8.282 5.236 12.312-32.45 2.91 20.803-3.087-4.417-.597.355 3.56 5.309-4.73-1.244-.21.663 4.643 1.325-4.747 1.076-.015.777 4.8-1.066-3.345 2.958.392.483 3.404-2.88-1.306 4.061.624.108 1.272-3.754.699 3.965.573-.014-.555-3.902 2.352 3.357.555-.121-2.396-3.616 3.849 1.83.216-.597-3.822-1.887 5.476-.326.118-.565-5.762.047 4.696-3.165-.21-.596-4.92 2.897 2.442-4.828-.5-.183-2.432 3.957-2.725-21.89 25.687 34.892-10.918-1.987-.18.695 11.523 2.319-7.902 4.575.328.639 8.165-4.509-5.083 7.991.581.61L75 115.237l-.578 8.679.584.064.755-8.54 3.698 7.304.492-.345-3.43-7.043 6.478 4.583.346-.36-6.204-4.711 8.056 1.45.248-.381-8.077-1.667 7.754-2.724-.254-.55-7.89 2.645L84 105.788l-.27-.42-7.593 7.656 2.111-10.52-.542-.261-2.734 10.365-3.132-9.713-.395.183 1.978 8.495-24.745-35.029 22.954 6.789-10.032 1.71.11 1.151 11.273-1.706-5.627 6.715.845.785 5.72-6.548-1.906 8.573 1.16.577 1.958-8.63 2.234 7.736.995-.243-2.058-7.756 5.586 5.248.6-.854-5.14-4.982 7.003 1.914.38-.857-6.795-2.108 7.305-1.259.208-.9-7.699 1.122 5.932-4.863-.735-.744-6.017 4.785 3.675-9.164-.75-.57-4.328 9.38-1.52-10.051-1.035-.104.918 10.194-5.943-7.662-.615.608 4.866 7.482-22.344-7.232L88.75 59.547l-5.91 9.028.568.438 6.625-9.723 1.126 9.071.714-.053-.96-9.289 5.365 7.804.788-.295-5.304-7.785 7.755 3.917.286-.516-7.556-4.024 8.158-.563-.124-.59-7.814.418 6.74-4.188-.196-.459-6.75 3.885 4.475-6.865-.254-.376-4.689 6.8.515-8.214-.606.02-.644 8.31-4.483-9.542-.492.087 4.081 9.988-8.85-6.046-.452.399 8.464 6.563-10.151-.9.013.437 9.58 1.661L49.674 73.19l.2-.636c8.978-11.58 41.352-48.555 73.328-37.133 45.965 16.416 2.52 84.713 2.52 84.713l18.13.073s22.892-75.771-19.67-86.697Z"></path></svg>
                                
                            </div>
                            <div class="photo-text-placeholder">
                                <h2>Add a trail</h2>
                                <p>Log a trail by connecting garmin below</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section-reviews">
                    <div class="right-profile-content-container">
                        <div class="photos-container">
                            <div class="photo-placeholder">
                                <svg class="_4Sx1P+6YoNycTCuNmsSl2Q==" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" role="presentation" aria-hidden="true" focusable="false" data-testid="dandelion" style="height: 150px; width: 150px; fill: rgb(43, 56, 31);"><path d="M124.182 33.51c-34.87-8.952-64.22 24.653-73.69 37.094l9.681-30.673 1.228 9.917 1.007-.05-1.203-11.474 6.534 6.019.718-.708-6.426-6.166 8.687 2.356.555-1.002-8.704-2.4 8.026-1.936-.17-.864-8.006 1.75 5.61-5.475-.709-.548-5.365 5.072 2.298-7.134-.708-.352-2.485 6.913-.956-7.622-.735-.207.787 7.91-4.693-6.302-.666.604 4.63 6.41-9.181-4.19-.508.612 9.292 4.83-10.282 1.085-.129.884 10.371-.465-8.048 5.697.483.536 7.885-4.65-11.737 33.274-8.397-25.28 5.578 3.874.575-.713-6.066-4.383 5.681-.556-.044-.915-5.559.43 4.704-3.066-.333-.956-4.788 3.091 2.436-4.536-.712-.424-2.54 4.495-.21-4.932-.829.153.122 4.548-2.328-3.99-.715.285 2.146 3.979-3.852-2.666-.65.416 4.06 2.969-4.903-.442.004.845 4.883.51-5.815 2.554.114.768 6.284-2.386-3.847 5.343.538.645 4.207-5.153-.718 6.257.718-.003 1.072-5.362 7.47 24.859-24.932-22.352 9.468 2.123.208-.686L19.51 48.89l-.176-.158 7.932-4.17-.302-.652-8.342 4.171 5.404-7.777-.555-.633-5.409 7.713.93-8.648-.58-.087-1.103 8.5L13.91 39.7l-.506.324 3.14 7.178-6.287-4.844-.359.346 6.007 4.959-7.99-1.778-.263.368 8.006 2.002-7.858 2.408.231.56 7.992-2.321-7.338 7.56.254.43 7.897-7.343-2.533 10.425.531.283 3.11-10.106.11.099 2.667 9.594.403-.166-1.53-8.034 24.123 21.811-31.757-6.323 9.115-6.083-.353-.626-9.9 6.344 2.516-8.788-.679-.232-2.752 8.923-1.879-9.284-.84-.035 1.83 9.245-5.6-6.649-.465.361 5.375 6.67-7.724-2.686-.116.59 7.35 2.685L0 68.772v.499l7.73-.922-6.805 4.557.087.445 6.976-4.416-3.69 7.354.563.22 3.846-7.39.387 10.537.487.113.155-10.791 5.775 9.037.572-.19-5.218-9.36 8.986 4.814.158-.407-6.472-4.196 29.5 7.015-29.02 10.433 5.932-8.577-.557-.451-6.872 9.549-.893-9.098-.716.035.723 9.31-5.16-7.937-.795.278 5.103 7.92-7.65-4.12-.3.507 7.45 4.218-8.168.353.11.589 7.82-.215L3.2 92.497l.185.464 6.846-3.71L5.581 96l.245.382 4.862-6.678-.727 8.198h.605l.857-8.29 4.236 9.653.493-.073L12.33 89.1l8.694 6.271.462-.386-8.293-6.779 10.124 1.16v-.436l-8.8-1.76 29.5-10.075L31.27 91.322l.878-4.14-.892-.261-1.176 5.065-1.85-3.435-.837.4 1.662 3.244-3.005-2.046-.751.676 3.105 2.135-3.307-.32-.12.858 3.371.4-2.94 1.385.482.736 2.619-1.184-1.759 2.342.577.589 1.79-2.226-.6 2.853.694.481.774-3.259.977 3.075.809-.345-.914-3.029 3.031 2.887.71-.43-3.15-3.325 4.295.997.402-.777-4.322-1.283 4.068-1.182-.306-.72-4.089.827 13.697-14.134-11.345 32.767-1.655-10.64-.714.058 1.59 11.663-6.909-5.977-.495.52 6.93 6.248-9.204-2.19-.385.75 9.146 2.218-8.379 2.298.131.574 8.302-2.085-5.677 5.893.486.353 5.52-5.554-2.2 7.632.453.208 2.41-7.413 1.272 8.097.441.108-1.071-8.194 5.114 6.442.436-.42-5.083-6.599 9.71 4.072.308-.395-9.714-4.671 10.615-1.456.069-.599-10.674.81 8.135-6.147-.301-.314-8.282 5.236 12.312-32.45 2.91 20.803-3.087-4.417-.597.355 3.56 5.309-4.73-1.244-.21.663 4.643 1.325-4.747 1.076-.015.777 4.8-1.066-3.345 2.958.392.483 3.404-2.88-1.306 4.061.624.108 1.272-3.754.699 3.965.573-.014-.555-3.902 2.352 3.357.555-.121-2.396-3.616 3.849 1.83.216-.597-3.822-1.887 5.476-.326.118-.565-5.762.047 4.696-3.165-.21-.596-4.92 2.897 2.442-4.828-.5-.183-2.432 3.957-2.725-21.89 25.687 34.892-10.918-1.987-.18.695 11.523 2.319-7.902 4.575.328.639 8.165-4.509-5.083 7.991.581.61L75 115.237l-.578 8.679.584.064.755-8.54 3.698 7.304.492-.345-3.43-7.043 6.478 4.583.346-.36-6.204-4.711 8.056 1.45.248-.381-8.077-1.667 7.754-2.724-.254-.55-7.89 2.645L84 105.788l-.27-.42-7.593 7.656 2.111-10.52-.542-.261-2.734 10.365-3.132-9.713-.395.183 1.978 8.495-24.745-35.029 22.954 6.789-10.032 1.71.11 1.151 11.273-1.706-5.627 6.715.845.785 5.72-6.548-1.906 8.573 1.16.577 1.958-8.63 2.234 7.736.995-.243-2.058-7.756 5.586 5.248.6-.854-5.14-4.982 7.003 1.914.38-.857-6.795-2.108 7.305-1.259.208-.9-7.699 1.122 5.932-4.863-.735-.744-6.017 4.785 3.675-9.164-.75-.57-4.328 9.38-1.52-10.051-1.035-.104.918 10.194-5.943-7.662-.615.608 4.866 7.482-22.344-7.232L88.75 59.547l-5.91 9.028.568.438 6.625-9.723 1.126 9.071.714-.053-.96-9.289 5.365 7.804.788-.295-5.304-7.785 7.755 3.917.286-.516-7.556-4.024 8.158-.563-.124-.59-7.814.418 6.74-4.188-.196-.459-6.75 3.885 4.475-6.865-.254-.376-4.689 6.8.515-8.214-.606.02-.644 8.31-4.483-9.542-.492.087 4.081 9.988-8.85-6.046-.452.399 8.464 6.563-10.151-.9.013.437 9.58 1.661L49.674 73.19l.2-.636c8.978-11.58 41.352-48.555 73.328-37.133 45.965 16.416 2.52 84.713 2.52 84.713l18.13.073s22.892-75.771-19.67-86.697Z"></path></svg>
                                
                            </div>
                            <div class="photo-text-placeholder">
                                <h2>You haven't left a review yet</h2>
                                <p>Complete a trail and leave a review!</p>
                            </div>
                            <button class="btn all-trails-btn">
                                <a href="/trails">All Trails</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section-activities">
                    <div class="right-profile-content-container">
                        <div class="photos-container">
                            <div class="photo-placeholder">
                                <svg class="_4Sx1P+6YoNycTCuNmsSl2Q==" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" role="presentation" aria-hidden="true" focusable="false" data-testid="dandelion" style="height: 150px; width: 150px; fill: rgb(43, 56, 31);"><path d="M124.182 33.51c-34.87-8.952-64.22 24.653-73.69 37.094l9.681-30.673 1.228 9.917 1.007-.05-1.203-11.474 6.534 6.019.718-.708-6.426-6.166 8.687 2.356.555-1.002-8.704-2.4 8.026-1.936-.17-.864-8.006 1.75 5.61-5.475-.709-.548-5.365 5.072 2.298-7.134-.708-.352-2.485 6.913-.956-7.622-.735-.207.787 7.91-4.693-6.302-.666.604 4.63 6.41-9.181-4.19-.508.612 9.292 4.83-10.282 1.085-.129.884 10.371-.465-8.048 5.697.483.536 7.885-4.65-11.737 33.274-8.397-25.28 5.578 3.874.575-.713-6.066-4.383 5.681-.556-.044-.915-5.559.43 4.704-3.066-.333-.956-4.788 3.091 2.436-4.536-.712-.424-2.54 4.495-.21-4.932-.829.153.122 4.548-2.328-3.99-.715.285 2.146 3.979-3.852-2.666-.65.416 4.06 2.969-4.903-.442.004.845 4.883.51-5.815 2.554.114.768 6.284-2.386-3.847 5.343.538.645 4.207-5.153-.718 6.257.718-.003 1.072-5.362 7.47 24.859-24.932-22.352 9.468 2.123.208-.686L19.51 48.89l-.176-.158 7.932-4.17-.302-.652-8.342 4.171 5.404-7.777-.555-.633-5.409 7.713.93-8.648-.58-.087-1.103 8.5L13.91 39.7l-.506.324 3.14 7.178-6.287-4.844-.359.346 6.007 4.959-7.99-1.778-.263.368 8.006 2.002-7.858 2.408.231.56 7.992-2.321-7.338 7.56.254.43 7.897-7.343-2.533 10.425.531.283 3.11-10.106.11.099 2.667 9.594.403-.166-1.53-8.034 24.123 21.811-31.757-6.323 9.115-6.083-.353-.626-9.9 6.344 2.516-8.788-.679-.232-2.752 8.923-1.879-9.284-.84-.035 1.83 9.245-5.6-6.649-.465.361 5.375 6.67-7.724-2.686-.116.59 7.35 2.685L0 68.772v.499l7.73-.922-6.805 4.557.087.445 6.976-4.416-3.69 7.354.563.22 3.846-7.39.387 10.537.487.113.155-10.791 5.775 9.037.572-.19-5.218-9.36 8.986 4.814.158-.407-6.472-4.196 29.5 7.015-29.02 10.433 5.932-8.577-.557-.451-6.872 9.549-.893-9.098-.716.035.723 9.31-5.16-7.937-.795.278 5.103 7.92-7.65-4.12-.3.507 7.45 4.218-8.168.353.11.589 7.82-.215L3.2 92.497l.185.464 6.846-3.71L5.581 96l.245.382 4.862-6.678-.727 8.198h.605l.857-8.29 4.236 9.653.493-.073L12.33 89.1l8.694 6.271.462-.386-8.293-6.779 10.124 1.16v-.436l-8.8-1.76 29.5-10.075L31.27 91.322l.878-4.14-.892-.261-1.176 5.065-1.85-3.435-.837.4 1.662 3.244-3.005-2.046-.751.676 3.105 2.135-3.307-.32-.12.858 3.371.4-2.94 1.385.482.736 2.619-1.184-1.759 2.342.577.589 1.79-2.226-.6 2.853.694.481.774-3.259.977 3.075.809-.345-.914-3.029 3.031 2.887.71-.43-3.15-3.325 4.295.997.402-.777-4.322-1.283 4.068-1.182-.306-.72-4.089.827 13.697-14.134-11.345 32.767-1.655-10.64-.714.058 1.59 11.663-6.909-5.977-.495.52 6.93 6.248-9.204-2.19-.385.75 9.146 2.218-8.379 2.298.131.574 8.302-2.085-5.677 5.893.486.353 5.52-5.554-2.2 7.632.453.208 2.41-7.413 1.272 8.097.441.108-1.071-8.194 5.114 6.442.436-.42-5.083-6.599 9.71 4.072.308-.395-9.714-4.671 10.615-1.456.069-.599-10.674.81 8.135-6.147-.301-.314-8.282 5.236 12.312-32.45 2.91 20.803-3.087-4.417-.597.355 3.56 5.309-4.73-1.244-.21.663 4.643 1.325-4.747 1.076-.015.777 4.8-1.066-3.345 2.958.392.483 3.404-2.88-1.306 4.061.624.108 1.272-3.754.699 3.965.573-.014-.555-3.902 2.352 3.357.555-.121-2.396-3.616 3.849 1.83.216-.597-3.822-1.887 5.476-.326.118-.565-5.762.047 4.696-3.165-.21-.596-4.92 2.897 2.442-4.828-.5-.183-2.432 3.957-2.725-21.89 25.687 34.892-10.918-1.987-.18.695 11.523 2.319-7.902 4.575.328.639 8.165-4.509-5.083 7.991.581.61L75 115.237l-.578 8.679.584.064.755-8.54 3.698 7.304.492-.345-3.43-7.043 6.478 4.583.346-.36-6.204-4.711 8.056 1.45.248-.381-8.077-1.667 7.754-2.724-.254-.55-7.89 2.645L84 105.788l-.27-.42-7.593 7.656 2.111-10.52-.542-.261-2.734 10.365-3.132-9.713-.395.183 1.978 8.495-24.745-35.029 22.954 6.789-10.032 1.71.11 1.151 11.273-1.706-5.627 6.715.845.785 5.72-6.548-1.906 8.573 1.16.577 1.958-8.63 2.234 7.736.995-.243-2.058-7.756 5.586 5.248.6-.854-5.14-4.982 7.003 1.914.38-.857-6.795-2.108 7.305-1.259.208-.9-7.699 1.122 5.932-4.863-.735-.744-6.017 4.785 3.675-9.164-.75-.57-4.328 9.38-1.52-10.051-1.035-.104.918 10.194-5.943-7.662-.615.608 4.866 7.482-22.344-7.232L88.75 59.547l-5.91 9.028.568.438 6.625-9.723 1.126 9.071.714-.053-.96-9.289 5.365 7.804.788-.295-5.304-7.785 7.755 3.917.286-.516-7.556-4.024 8.158-.563-.124-.59-7.814.418 6.74-4.188-.196-.459-6.75 3.885 4.475-6.865-.254-.376-4.689 6.8.515-8.214-.606.02-.644 8.31-4.483-9.542-.492.087 4.081 9.988-8.85-6.046-.452.399 8.464 6.563-10.151-.9.013.437 9.58 1.661L49.674 73.19l.2-.636c8.978-11.58 41.352-48.555 73.328-37.133 45.965 16.416 2.52 84.713 2.52 84.713l18.13.073s22.892-75.771-19.67-86.697Z"></path></svg>
                                
                            </div>
                            <div class="photo-text-placeholder">
                                <h2>Add a trail</h2>
                                <p>Log a trail by connecting garmin below</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>
        </div>
        

    </div>
</div>

<script>
  // Get all the tab buttons
const tabButtons = document.querySelectorAll('.nav-tab');

// Add click event listener to each tab button
tabButtons.forEach(tabButton => {
  tabButton.addEventListener('click', (e) => {
    e.preventDefault();

    // Remove active class from all tab buttons
    tabButtons.forEach(button => button.classList.remove('active'));

    // Add active class to the clicked tab button
    tabButton.classList.add('active');

    // Get the target section id from the data-target attribute
    const targetSectionId = tabButton.getAttribute('data-target');

    // Remove active class from all tab content sections
    const tabContentSections = document.querySelectorAll('.tab-pane');
    tabContentSections.forEach(section => section.classList.remove('show', 'active'));

    // Add active class to the target section
    const targetSection = document.querySelector(targetSectionId);
    targetSection.classList.add('show', 'active');
  });
});
</script>

<script>
    // Initialize Dropzone
    Dropzone.options.myDropzone = {
      url: "/upload-photo", // Route to handle the photo upload on the server
      paramName: "photo", // Name of the file parameter
      maxFilesize: 5, // Maximum file size in MB
      acceptedFiles: ".jpg, .jpeg, .png", // Allowed file types
      addRemoveLinks: true, // Display remove links for uploaded files
  
      // Customize the appearance of uploaded files
      init: function () {
        this.on("addedfile", function (file) {
          // Perform any additional operations when a file is added
        });
  
        this.on("removedfile", function (file) {
          // Perform any additional operations when a file is removed
        });
      },
    };
  </script>
